// Todoist styles

// @TODO: same thing could have been achieved by using a array
$todoist-labels = {
  'todoist-label-30': rgb(184, 37, 95)
  'todoist-label-31': rgb(219, 64, 53)
  'todoist-label-32': rgb(255, 153, 51)
  'todoist-label-33': rgb(250, 208, 0)
  'todoist-label-34': rgb(175, 184, 59)
  'todoist-label-35': rgb(126, 204, 73)
  'todoist-label-36': rgb(41, 148, 56)
  'todoist-label-37': rgb(106, 204, 188)
  'todoist-label-38': rgb(21, 143, 173)
  'todoist-label-39': rgb(20, 170, 245)
  'todoist-label-40': rgb(150, 195, 235)
  'todoist-label-41': rgb(64, 115, 255)
  'todoist-label-42': rgb(136, 77, 255)
  'todoist-label-43': rgb(175, 56, 235)
  'todoist-label-44': rgb(235, 150, 235)
  'todoist-label-45': rgb(224, 81, 148)
  'todoist-label-46': rgb(255, 141, 133)
  'todoist-label-47': rgb(128, 128, 128)
  'todoist-label-48': rgb(184, 184, 184)
  'todoist-label-49': rgb(204, 172, 147)
}

for name, color in $todoist-labels
  .bg-{name}
    background: color !important;
  .text-{name}
    color: color !important;

$todoist-projects = {
  'todoist-project-0': #95EF63
  'todoist-project-1': #FF8581
  'todoist-project-2': #FFC471
  'todoist-project-3': #F9EC75
  'todoist-project-4': #A8C8E4
  'todoist-project-5': #D2B8A3
  'todoist-project-6': #E2A8E4
  'todoist-project-7': #CCCCCC
  'todoist-project-8': #FB886E
  'todoist-project-9': #FFCC00
  'todoist-project-10': #74E8D3
  'todoist-project-11': #3BD5FB
  'todoist-project-12': #DC4FAD
  'todoist-project-13': #AC193D
  'todoist-project-14': #D24726
  'todoist-project-15': #82BA00
  'todoist-project-16': #03B3B2
  'todoist-project-17': #008299
  'todoist-project-18': #5DB2FF
  'todoist-project-19': #0072C6
  'todoist-project-20': #000000
  'todoist-project-21': #777777
}

for name, color in $todoist-projects
  .bg-{name}
    background: color !important;

$todoist-priorities = {
  'priority-1': #E0E0E0
  'priority-2': #FFEB3B
  'priority-3': #FF6F00
  'priority-4': #D50000
}

for name, color in $todoist-priorities
  .border-{name}
    border-left: 10px color solid;

  .text-{name}
    color: color !important;

  .bg-{name}
    background: color !important;
